name: tests
on:
  push:
    branches: [master]
    paths-ignore: ['README.*']
  pull_request:
    branches: [master]
    paths-ignore: ['README.*']
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.4', '2.5', '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4', ruby-head]
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: rspec
        run: bundle exec rake spec
